# PHPStan configuration
# https://phpstan.org/config-reference

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
        - vendor
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
